body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}
#main {
}
h1 {
  text-align: center;
}

.controls,
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.controls label {
  margin-right: 10px;
}

#signature-pad {
  border: 1px solid #ccc;
}

/* Media query for smaller screens (adjust as needed) */
@media (max-width: 768px) {
  .controls,
  .buttons {
    flex-wrap: wrap; /* Wrap controls and buttons on smaller screens */
  }
  #signature-pad {
    height: 200px; /* Adjust canvas height for mobile */
    width: 90vw;
  }
  #undo-button {
    visibility: hidden;
  }
}
